# Copy this to admin.cfg and change password.
# Note: make sure the file only readable by system admins.
[admin]
username = admin
password = CHANGEME
credentials = ${admin:username}:${admin:password}
