[buildout]
extends = buildout-base.cfg

parts +=
    solr-download
    solr-instance

eggs +=
    alm.solrindex

zcml +=
    alm.solrindex

[instance-settings]
environment-vars =
    SOLR_URI http://localhost:8988/solr


# Recipes to automatically install Solr for indexing
[solr-download]
recipe = hexagonit.recipe.download
url = http://mirror.eunet.fi/apache//lucene/solr/3.1.0/apache-solr-3.1.0.zip
strip-top-level-dir = true

[solr-instance]
recipe = collective.recipe.solrinstance
solr-location = ${solr-download:location}
host = localhost
port = 8988
basepath = /solr
max-num-results = 1000000
default-search-field = SearchableText
unique-key = docid
index =
    name:docid          type:integer stored:true  required:true
    name:SearchableText type:text    stored:false
    name:Title          type:text    stored:true
    name:Description    type:text    stored:false
