# This is the buildout for production environment. The number of ZEO clients
# to four, precompiles .py and corrects file system permissions.

[buildout]
extends =
    buildout-base.cfg
    versions-prod.cfg

parts +=
    precompile
    chown

effective-user = plone


# Extend the basic profile
[zeoserver]
extends = buildout-base.cfg
effective-user = ${buildout:effective-user}


# Extend the basic profile
[instance-settings]
extends = buildout-base.cfg
effective-user = ${buildout:effective-user}


[client1]
extends = buildout-base.cfg
effective-user = ${buildout:effective-user}


# Compiles .py files in ./parts and ./products so that they don't
# need to be compiled by the daemon on startup
# For options see http://pypi.python.org/pypi/plone.recipe.precompiler
[precompile]
recipe = plone.recipe.precompiler


# This recipe is used to set permissions -- and ownership for root mode installs
# For options see http://pypi.python.org/pypi/plone.recipe.command
[chown]
recipe = plone.recipe.command
command =
    chmod 600 .installed.cfg admin.cfg
    touch ${buildout:directory}/var/zeoserver/zeoserver.log
    find ${buildout:directory} -type d -name LC_MESSAGES -exec chown -R ${buildout:effective-user} \{\} \;
    chown -R ${buildout:effective-user} ${buildout:directory}/var/filestorage
    chmod 700 ${buildout:directory}/var/filestorage
    mkdir -p ${buildout:directory}/var/blobstorage/tmp
    chown -R ${buildout:effective-user} ${buildout:directory}/var/blobstorage
    chmod 700 ${buildout:directory}/var/blobstorage
    chown -R ${buildout:effective-user} ${buildout:directory}/var/zeoserver
    chmod 700 ${buildout:directory}/var/zeoserver
    chown -R ${buildout:effective-user} ${buildout:directory}/var/client?
    chmod 700 ${buildout:directory}/var/client?
    chown -R ${buildout:effective-user} ${buildout:directory}/var/debug-client
    chmod 700 ${buildout:directory}/var/debug-client
update-command = ${chown:command}
